@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Import */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@keyframes wavezoom {
  0%, 50%, 100% {
    transform: scale(1, 1);
  }
  30%, 80% {
    transform: scale(0.92, 0.95);
  }
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 90%;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 90%;
  }
}
@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #520b4a, 0 0 11px #520b4a, 0 0 19px #520b4a, 0 0 40px #bc13fe, 0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  }
  0% {
    text-shadow: 0 0 2px #520b4a, 0 0 4px #520b4a, 0 0 6px #520b4a, 0 0 10px #bc13fe, 0 0 45px #bc13fe, 0 0 55px #bc13fe, 0 0 70px #bc13fe, 0 0 80px #bc13fe;
  }
}
@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.crew {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.crew__title {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: end;
  text-align: center;
}
.crew__title p {
  width: 100%;
  font-family: "Merienda", cursive;
  font-size: 20px;
  padding: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.0901960784);
  z-index: 20;
}

.crew-container {
  width: 100%;
  height: 100%;
  padding: 50px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.crew-box {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}
.crew-box:hover {
  transform: rotate(-15deg);
}
.crew-box ul {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.crew-box ul a {
  color: rgba(255, 255, 255, 0.5333333333);
  font-size: 1.25em;
  scale: 0;
  transition: 1.5s;
}

.crew-box:hover .imgBx img {
  opacity: 0.5;
}

.crew-box:hover ul a {
  scale: 1;
}

.crew-box ul a:hover {
  color: #fff;
}

.clr1 {
  box-shadow: 0 0 10px 1px #201135, 0 0 25px 5px #201135, 0 0 50px 10px #201135;
}
.clr1:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
}

.imgBx {
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.8s;
  border-radius: 10px;
}

.glass {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.1333333333), transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
  scale: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.8s;
  transform: rotate(-30deg);
}
.glass::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.05);
}

.crew-box:hover .glass {
  opacity: 1;
  scale: 1;
  transform: rotate(20deg);
}

.glass h3 {
  font-size: 1.25em;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 1;
  position: relative;
  top: -15px;
}

.glass span {
  font-weight: 400;
  font-size: 0.5em;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.crew-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #210027;
  overflow: hidden;
}

.crew-bg span {
  width: 16vmin;
  height: 16vmin;
  border-radius: 16vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.crew-bg span:nth-child(0) {
  color: #ffacac;
  top: 61%;
  left: 36%;
  animation-duration: 26s;
  animation-delay: -19s;
  transform-origin: 18vw 0vh;
  box-shadow: 32vmin 0 4.8795955504vmin currentColor;
}

.crew-bg span:nth-child(1) {
  color: #ffacac;
  top: 50%;
  left: 96%;
  animation-duration: 21s;
  animation-delay: -6s;
  transform-origin: 22vw -3vh;
  box-shadow: 32vmin 0 4.8558927005vmin currentColor;
}

.crew-bg span:nth-child(2) {
  color: #e45a84;
  top: 19%;
  left: 4%;
  animation-duration: 27s;
  animation-delay: -11s;
  transform-origin: 24vw -12vh;
  box-shadow: 32vmin 0 4.5685334606vmin currentColor;
}

.crew-bg span:nth-child(3) {
  color: #ffacac;
  top: 2%;
  left: 99%;
  animation-duration: 14s;
  animation-delay: -29s;
  transform-origin: -11vw -14vh;
  box-shadow: 32vmin 0 4.1568252267vmin currentColor;
}

.crew-bg span:nth-child(4) {
  color: #e45a84;
  top: 64%;
  left: 87%;
  animation-duration: 52s;
  animation-delay: -5s;
  transform-origin: -7vw 14vh;
  box-shadow: 32vmin 0 4.9167479837vmin currentColor;
}

.crew-bg span:nth-child(5) {
  color: #ffacac;
  top: 27%;
  left: 5%;
  animation-duration: 29s;
  animation-delay: -23s;
  transform-origin: 16vw -11vh;
  box-shadow: 32vmin 0 4.965933144vmin currentColor;
}

.crew-bg span:nth-child(6) {
  color: #583c87;
  top: 88%;
  left: 83%;
  animation-duration: 50s;
  animation-delay: -45s;
  transform-origin: 3vw -9vh;
  box-shadow: 32vmin 0 4.5091592382vmin currentColor;
}

.crew-bg span:nth-child(7) {
  color: #583c87;
  top: 22%;
  left: 41%;
  animation-duration: 13s;
  animation-delay: -29s;
  transform-origin: -7vw 11vh;
  box-shadow: 32vmin 0 4.2816977082vmin currentColor;
}

.crew-bg span:nth-child(8) {
  color: #583c87;
  top: 32%;
  left: 6%;
  animation-duration: 53s;
  animation-delay: -11s;
  transform-origin: 8vw 14vh;
  box-shadow: -32vmin 0 4.935504382vmin currentColor;
}

.crew-bg span:nth-child(9) {
  color: #583c87;
  top: 26%;
  left: 70%;
  animation-duration: 49s;
  animation-delay: -19s;
  transform-origin: -24vw -16vh;
  box-shadow: -32vmin 0 4.6956229922vmin currentColor;
}

.crew-bg span:nth-child(10) {
  color: #ffacac;
  top: 25%;
  left: 40%;
  animation-duration: 46s;
  animation-delay: -26s;
  transform-origin: -16vw -15vh;
  box-shadow: -32vmin 0 4.842879392vmin currentColor;
}

.crew-bg span:nth-child(11) {
  color: #583c87;
  top: 22%;
  left: 29%;
  animation-duration: 44s;
  animation-delay: -42s;
  transform-origin: -23vw 24vh;
  box-shadow: -32vmin 0 4.1451433692vmin currentColor;
}

.crew-bg span:nth-child(12) {
  color: #e45a84;
  top: 77%;
  left: 35%;
  animation-duration: 44s;
  animation-delay: -50s;
  transform-origin: 23vw -7vh;
  box-shadow: -32vmin 0 4.3203631639vmin currentColor;
}

.crew-bg span:nth-child(13) {
  color: #583c87;
  top: 68%;
  left: 69%;
  animation-duration: 31s;
  animation-delay: -2s;
  transform-origin: 23vw -15vh;
  box-shadow: -32vmin 0 4.7800003422vmin currentColor;
}

.crew-bg span:nth-child(14) {
  color: #583c87;
  top: 80%;
  left: 93%;
  animation-duration: 50s;
  animation-delay: -40s;
  transform-origin: -12vw 22vh;
  box-shadow: -32vmin 0 4.1203473442vmin currentColor;
}

.crew-bg span:nth-child(15) {
  color: #ffacac;
  top: 4%;
  left: 43%;
  animation-duration: 32s;
  animation-delay: -1s;
  transform-origin: 10vw 21vh;
  box-shadow: -32vmin 0 4.1870481251vmin currentColor;
}

.crew-bg span:nth-child(16) {
  color: #ffacac;
  top: 25%;
  left: 6%;
  animation-duration: 16s;
  animation-delay: -33s;
  transform-origin: 13vw -22vh;
  box-shadow: -32vmin 0 4.0682006925vmin currentColor;
}

.crew-bg span:nth-child(17) {
  color: #ffacac;
  top: 21%;
  left: 2%;
  animation-duration: 47s;
  animation-delay: -40s;
  transform-origin: -2vw -9vh;
  box-shadow: -32vmin 0 4.2367340467vmin currentColor;
}

.crew-bg span:nth-child(18) {
  color: #e45a84;
  top: 70%;
  left: 19%;
  animation-duration: 20s;
  animation-delay: -29s;
  transform-origin: 19vw 20vh;
  box-shadow: -32vmin 0 4.2045122438vmin currentColor;
}

.crew-bg span:nth-child(19) {
  color: #ffacac;
  top: 24%;
  left: 80%;
  animation-duration: 17s;
  animation-delay: -2s;
  transform-origin: 7vw -8vh;
  box-shadow: 32vmin 0 4.6005639352vmin currentColor;
}

.crew-bg span:nth-child(20) {
  color: #e45a84;
  top: 3%;
  left: 85%;
  animation-duration: 29s;
  animation-delay: -5s;
  transform-origin: 10vw 19vh;
  box-shadow: -32vmin 0 4.1716282697vmin currentColor;
}

.showlist {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  background-color: white;
}

/* Variables */
.showlist-card {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: #fbfbfb;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 30px 10px #dfe2e4;
  border-radius: 5px;
}

/* Title */
.title {
  text-align: center;
}
.title h1 {
  color: #f5ce64;
  font-size: 40px;
  margin-bottom: 0;
}
.title p {
  color: #a3a8cd;
  margin-top: 8px;
  margin-bottom: 25px;
}

/* Rancking */
.box {
  display: block;
  width: 80%;
  height: 150px;
  margin: 20px auto 20px auto;
}

/* Number */
.number {
  float: left;
  font-weight: bold;
  font-size: 50px;
  width: 50px;
  height: 150px;
  line-height: 150px;
  color: #dfe2e4;
  margin-right: 25px;
  margin-left: 25px;
}

/* Cover */
.cover {
  float: left;
  height: 150px;
  margin-right: 25px;
  padding-top: 12px;
}

.cover img {
  height: 125px;
  border-radius: 100%;
}

/* Name */
.name {
  float: left;
  height: 150px;
  line-height: 150px;
  font-size: 18px;
  color: #a3a8cd;
}
.name span {
  font-weight: bold;
  color: black;
}

/* Button */
.link {
  text-align: right;
  line-height: 150px;
  margin-right: 25px;
}

.link a {
  padding: 9px 12px;
  border: 1px solid #dfe2e4;
  color: #a3a8cd;
  text-decoration: none;
  font-size: 14px;
}

/* Separator */
.separator {
  width: 80%;
  height: 1px;
  margin: auto;
  background-color: #dfe2e4;
}

/* :hover */
.box:hover {
  box-shadow: 1px 1px 40px 0px #dfe2e4;
}
.box:hover .number {
  color: #f5ce64;
}
.box:hover span {
  color: #f5ce64;
}

.link a:hover {
  background-color: #f5ce64;
  color: #fff;
  border: none;
}

.link a:focus {
  background-color: #fff;
  color: #f5ce64;
  border: none;
}

.contact {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  background-color: #4d414f;
}

.about-us {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 180px;
  background-image: url("../img/wall-2059909_640.png");
  background-size: cover;
}
.about-us__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2588235294);
}
.about-us__text {
  width: 100%;
  height: 100%;
  color: #fff;
}
.about-us__neon {
  font-size: 40px;
  margin-bottom: 40px;
  color: #fff;
  animation: pulsate 1.5s infinite alternate;
}

.schedule {
  position: relative;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.schedule__title {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: center;
}
.schedule__title p {
  width: 100%;
  font-family: "Merienda", cursive;
  font-size: 40px;
  padding: 10px;
  color: #520b4a;
  background-color: rgba(0, 0, 0, 0.1607843137);
  z-index: 20;
}

small {
  font-size: 15px;
}

.container-schedule {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}

.content-schedule {
  width: 100%;
  padding: 50px 0 50px 0;
  background-color: rgba(0, 8, 255, 0);
}

.event-tiles-container {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  border-radius: 5px;
}

.event-tile {
  padding: 1.6rem !important;
  color: #f7f7f7;
  background: #edab5c;
  flex: 2 1 250px;
}

.event-tile .event-title {
  text-transform: uppercase;
  padding: 0.7rem 0;
  clear: both;
}

.event-tile .event-start,
.event-tile .event-end {
  text-transform: uppercase;
  float: left;
}

.event-tile .event-start-date {
  font-size: 1.4rem;
  margin-bottom: -5px;
}

.event-tile .event-end-date {
  font-size: 0.9rem;
  margin-bottom: -2px;
}

.event-tile .event-start-month,
.event-tile .event-end-month {
  text-align: right;
}

.event-tile .event-end {
  opacity: 0.9;
  font-size: 65%;
  padding-left: 5px;
}

.event-tile .event-time,
.event-tile .event-location {
  font-size: 80%;
}

.event-tile.alternate-1 {
  background-color: #da3636;
}

.event-tile.alternate-2 {
  background-color: #00ccff;
}

.event-tile.alternate-3 {
  background-color: #8dd80c;
}

.event-cards-container {
  border-radius: 5px;
  overflow: hidden;
}

.poster-box {
  width: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster-center {
  display: grid;
  place-items: center;
}

.posters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.poster-tilt {
  position: relative;
  perspective: 500px;
}

.poster-bg {
  position: relative;
}

.bg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scale: 1.05;
  transition: all 0.3s cubic-bezier(0.86, 0.2, 0.03, 0.97);
  background: conic-gradient(from var(--deg) at 50% 50%, var(--color), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0), var(--color));
  filter: blur(20px) saturate(1);
  z-index: -1;
  translate: 0 0 -1px;
}

.poster-card {
  transform-style: preserve-3d;
  background: var(--color);
  background-image: var(--url);
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 0 10px var(--color);
  width: 400px;
  height: 550px;
  border-radius: 10px;
  font-size: 3rem;
  line-height: 0;
  transition: all 0.2s linear;
}
.poster-card img {
  translate: 0 0 80px;
  width: 100px;
  height: 100px;
  pointer-events: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #333;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.header {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
}

.smallNavBg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #3a0049;
  opacity: 0;
  transition: all 0.6s;
}

.logo-bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 80px;
}

.logo {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 70px;
  height: 70px;
  background-image: url("../img/logo.png");
  background-size: cover;
  animation: flicker 2s linear both;
  transition: transform 0.5s;
  cursor: pointer;
  z-index: 100;
}
.logo:hover {
  background-image: url("../img/logo2.png");
}
.logo--scaled {
  transform: scale(0.9) translateY(-4px);
  background-image: url("../img/logo_mid.png");
}
.logo--scaled:hover {
  background-image: url("../img/logo2_mini.png");
}

.nav {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}
.nav__item {
  margin: 20px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__item:nth-child(2) {
  display: block;
}
.nav__item:hover {
  color: #00ccff;
}
.nav--scaled {
  transform: scale(0.8) translateX(-26%) translateY(-74px);
}

.burger-icon {
  position: fixed;
  top: 12px;
  right: 30px;
  width: 45px;
  height: 45px;
  padding: 10px;
  font-size: 32px;
  color: #00ccff;
  border-radius: 7px;
  border: none;
  background: none;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #520b4a;
}
.nav-mobile__items {
  display: flex;
  flex-direction: column;
}
.nav-mobile__items a {
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
  transition: color 0.3s;
}
.nav-mobile__items a:hover {
  color: #00ccff;
}
.nav-mobile--active {
  transform: translate(0);
}

.nav-items-animation {
  animation: navItemsAnimation 1s;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.home__bg {
  width: 100%;
  height: 100%;
  background-image: url("../img/dj-6472628_640.jpg");
  background-position: 0 90%;
  background-size: cover;
}
.home__bg--overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(210, 0, 151, 0.2784313725);
  opacity: 90%;
}
.home__smoke {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 320px;
  pointer-events: none;
}
.home__text {
  position: absolute;
  top: 25px;
  left: 25%;
  font-family: "Merienda", cursive;
}
.home__text h1 {
  color: #fff;
  font-size: 14px;
  text-shadow: 0 0 3px black;
}
.home__text h2 {
  color: #00ccff;
  font-size: 8px;
  text-shadow: 0 0 3px rgba(0, 0, 86, 0.715);
}
.home__text_bg {
  display: none;
  position: absolute;
  left: 24%;
  top: -20px;
  width: 140px;
  height: 110px;
  background-image: url("../img/h1bg.png");
  background-size: cover;
}

.girl-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.girl {
  position: absolute;
  background-image: url("../img/girl.png");
  background-size: cover;
  opacity: 90%;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  bottom: 0;
  width: 300px;
  height: 300px;
}
.girl__bg {
  position: absolute;
  background-image: url("../img/girl_bg.png");
  background-size: cover;
  animation: scale-in-center 1s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.girl__bg {
  bottom: 60px;
  width: 200px;
  height: 250px;
}

.girl2 {
  position: absolute;
  background-image: url("../img/girl.png");
  background-size: cover;
  opacity: 90%;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: none;
  left: 4%;
  bottom: 0;
  width: 600px;
  height: 600px;
}
.girl2__bg {
  position: absolute;
  background-image: url("../img/girl_bg.png");
  background-size: cover;
  animation: scale-in-center 1s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.girl2__bg {
  display: none;
  left: 6%;
  bottom: 60px;
  width: 500px;
  height: 550px;
}

.player-box {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 120px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #210027;
  overflow: hidden;
}

.player {
  position: relative;
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(144, 144, 144, 0.173);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.485);
  border-radius: 80px 30px 30px 80px;
}
.player__title {
  position: absolute;
  top: -30px;
  right: 10px;
  font-size: 25px;
  font-family: "Merienda", cursive;
}
.player__stats {
  position: absolute;
  width: 225px;
  height: 55px;
  right: 0;
}
.player__button {
  position: absolute;
  font-size: 50px;
  color: #ffffff;
  cursor: pointer;
}
.player__button:hover {
  color: rgb(56, 56, 56);
}
.player__button__bg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.599);
}
.player .fa-play {
  position: relative;
  left: 6px;
}
.player__button__bg {
  background-color: #00ccff;
}
.player__title {
  color: #00ccff;
}
.player .greetings_panel {
  position: absolute;
  width: 70px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ccff;
  border-radius: 0 0 3px 3px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #1b1b1b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  left: 110px;
  bottom: -20px;
}
.player .greetings_panel:hover {
  background-color: orange;
}
.player .schedule_panel {
  position: absolute;
  width: 70px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ccff;
  border-radius: 0 0 3px 3px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #1b1b1b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  right: 40px;
  bottom: -20px;
}
.player .schedule_panel:hover {
  background-color: orange;
}

.player-chill {
  position: relative;
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(144, 144, 144, 0.173);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.485);
  border-radius: 80px 30px 30px 80px;
}
.player-chill__title {
  position: absolute;
  top: -30px;
  right: 10px;
  font-size: 25px;
  font-family: "Merienda", cursive;
}
.player-chill__stats {
  position: absolute;
  width: 225px;
  height: 55px;
  right: 0;
}
.player-chill__button {
  position: absolute;
  font-size: 50px;
  color: #ffffff;
  cursor: pointer;
}
.player-chill__button:hover {
  color: rgb(56, 56, 56);
}
.player-chill__button__bg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.599);
}
.player-chill .fa-play {
  position: relative;
  left: 6px;
}
.player-chill__button__bg {
  background-color: #8dd80c;
}
.player-chill__title {
  color: #8dd80c;
}
.player-chill .greetings_panel {
  position: absolute;
  width: 70px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ccff;
  border-radius: 0 0 3px 3px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #1b1b1b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #8dd80c;
  left: 90px;
  bottom: -20px;
}
.player-chill .greetings_panel:hover {
  background-color: orange;
}
.player-chill .schedule_panel {
  position: absolute;
  width: 70px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ccff;
  border-radius: 0 0 3px 3px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #1b1b1b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #8dd80c;
  right: 40px;
  bottom: -20px;
}
.player-chill .schedule_panel:hover {
  background-color: orange;
}

.player-rock {
  position: relative;
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(144, 144, 144, 0.173);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.485);
  border-radius: 80px 30px 30px 80px;
}
.player-rock__title {
  position: absolute;
  top: -30px;
  right: 10px;
  font-size: 25px;
  font-family: "Merienda", cursive;
}
.player-rock__stats {
  position: absolute;
  width: 225px;
  height: 55px;
  right: 0;
}
.player-rock__button {
  position: absolute;
  font-size: 50px;
  color: #ffffff;
  cursor: pointer;
}
.player-rock__button:hover {
  color: rgb(56, 56, 56);
}
.player-rock__button__bg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.599);
}
.player-rock .fa-play {
  position: relative;
  left: 6px;
}
.player-rock__button__bg {
  background-color: #da3636;
}
.player-rock__title {
  color: #da3636;
}
.player-rock .greetings_panel {
  position: absolute;
  width: 70px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ccff;
  border-radius: 0 0 3px 3px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #1b1b1b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #da3636;
  left: 90px;
  bottom: -20px;
}
.player-rock .greetings_panel:hover {
  background-color: orange;
}
.player-rock .schedule_panel {
  position: absolute;
  width: 70px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ccff;
  border-radius: 0 0 3px 3px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #1b1b1b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #da3636;
  right: 40px;
  bottom: -20px;
}
.player-rock .schedule_panel:hover {
  background-color: orange;
}

.footer {
  width: 100%;
  height: 300px;
  padding-top: 80px;
  background-color: #333;
}

@media (min-width: 560px) {
  .logo {
    width: 120px;
    height: 120px;
  }
  .home {
    height: 40vh;
  }
  .home__text {
    top: 72%;
    left: 45%;
  }
  .home__text h1 {
    font-size: 29px;
  }
  .home__text h2 {
    font-size: 14px;
  }
  .home__text_bg {
    display: block;
    left: 45%;
    top: 60%;
    width: 200px;
    height: 160px;
  }
  .girl {
    left: 2%;
    bottom: 0;
    width: 220px;
    height: 220px;
  }
  .girl__bg {
    left: 6%;
    bottom: 4%;
    width: 180px;
    height: 220px;
  }
  .player-box {
    height: 60vh;
    padding: 0;
  }
  .player {
    width: 350px;
    height: 120px;
    margin-right: 10px;
  }
  .player__stats {
    width: 300px;
    height: 80px;
    right: 0;
  }
  .player__button {
    font-size: 80px;
  }
  .player__button__bg {
    width: 120px;
    height: 120px;
  }
  .player .greetings_panel {
    width: 80px;
    height: 30px;
    font-size: 14px;
    left: 130px;
    bottom: -30px;
  }
  .player .schedule_panel {
    width: 80px;
    height: 30px;
    font-size: 14px;
    right: 40px;
    bottom: -30px;
  }
  .player-chill {
    width: 350px;
    height: 120px;
    margin-right: 10px;
  }
  .player-chill__stats {
    width: 300px;
    height: 80px;
    right: 0;
  }
  .player-chill__button {
    font-size: 80px;
  }
  .player-chill__button__bg {
    width: 120px;
    height: 120px;
  }
  .player-chill__title {
    color: #8dd80c;
  }
  .player-chill .greetings_panel {
    width: 80px;
    height: 30px;
    font-size: 14px;
    background-color: #8dd80c;
    left: 130px;
    bottom: -30px;
  }
  .player-chill .schedule_panel {
    width: 80px;
    height: 30px;
    font-size: 14px;
    background-color: #8dd80c;
    right: 40px;
    bottom: -30px;
  }
  .player-rock {
    width: 350px;
    height: 120px;
    margin-right: 10px;
  }
  .player-rock__stats {
    width: 300px;
    height: 80px;
    right: 0;
  }
  .player-rock__button {
    font-size: 80px;
  }
  .player-rock__button__bg {
    width: 120px;
    height: 120px;
  }
  .player-rock__title {
    color: #da3636;
  }
  .player-rock .greetings_panel {
    width: 80px;
    height: 30px;
    font-size: 14px;
    background-color: #da3636;
    left: 130px;
    bottom: -30px;
  }
  .player-rock .schedule_panel {
    width: 80px;
    height: 30px;
    font-size: 14px;
    background-color: #da3636;
    right: 40px;
    bottom: -30px;
  }
  .crew__title p {
    font-size: 40px;
  }
}
@media (min-width: 700px) {
  .home__text {
    top: 70%;
    left: 45%;
  }
  .home__text h1 {
    font-size: 38px;
  }
  .home__text h2 {
    font-size: 20px;
  }
  .home__text_bg {
    left: 45%;
    top: 52%;
    width: 280px;
    height: 230px;
  }
  .girl {
    left: 10px;
    bottom: 0;
    width: 300px;
    height: 300px;
  }
  .girl__bg {
    left: 50px;
    bottom: 3%;
    width: 200px;
    height: 300px;
  }
}
@media (min-width: 768px) {
  .burger-icon {
    display: none;
  }
  .logo-bg {
    width: 20%;
  }
  .logo--scaled {
    transform: scale(0.5) translateX(0px) translateY(-60px);
    background-image: url("../img/logo_small.png");
  }
  .logo--scaled:hover {
    background-image: url("../img/logo2_mini.png");
  }
  .nav-desktop {
    display: block;
  }
  .nav {
    top: 40px;
    height: 50px;
    width: 100%;
    transform: scale(0.9);
  }
  .nav__item {
    margin: 6px;
    font-size: 18px;
  }
  .nav__item:nth-child(2) {
    display: none;
  }
  .nav--scaled {
    transform: scale(1) translateX(0) translateY(-24px);
  }
}
@media (min-width: 900px) {
  .logo-bg {
    width: 10%;
  }
  .nav__item {
    margin: 5px;
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .home {
    height: 80vh;
  }
  .home__bg {
    background-image: url("../img/dj-6472628_1920.jpg");
  }
  .home__text {
    top: 75%;
    left: 48%;
  }
  .home__text h1 {
    font-size: 50px;
  }
  .home__text h2 {
    font-size: 25px;
  }
  .home__text_bg {
    left: 49%;
    top: 65%;
    width: 370px;
    height: 300px;
  }
  .logo-bg {
    width: 20%;
  }
  .logo {
    top: 0;
    left: 30px;
    width: 200px;
    height: 200px;
    background-size: cover;
  }
  .logo--scaled {
    transform: scale(0.7) translateX(-10px) translateY(-50px);
    background-image: url("../img/logo_mid.png");
  }
  .logo--scaled:hover {
    background-image: url("../img/logo2_mini.png");
  }
  .nav {
    top: 60px;
    width: 100%;
  }
  .nav__item {
    margin: 10px;
    font-size: 22px;
  }
  .nav--scaled {
    transform: scale(0.9) translateX(-10px) translateY(-50px);
  }
  .girl {
    left: 10px;
    bottom: 0;
    width: 300px;
    height: 300px;
  }
  .girl__bg {
    left: 6%;
    bottom: 7%;
    width: 200px;
    height: 250px;
  }
}
@media (min-width: 1102px) {
  .player-box {
    height: 20vh;
  }
}
@media (min-width: 1200px) {
  .logo-bg {
    width: 30%;
  }
  .logo {
    top: 0;
    left: 30px;
    width: 200px;
    height: 200px;
    background-size: cover;
  }
  .logo--scaled {
    transform: scale(0.7) translateX(-10px) translateY(-50px);
    background-image: url("../img/logo_mid.png");
  }
  .logo--scaled:hover {
    background-image: url("../img/logo2_mini.png");
  }
  .nav {
    top: 60px;
    width: 100%;
    transform: scale(1);
  }
  .nav__item {
    margin: 20px;
    font-size: 22px;
  }
  .nav--scaled {
    transform: scale(0.9) translateX(-10px) translateY(-50px);
  }
  .girl {
    left: 80px;
    bottom: 0;
    width: 400px;
    height: 400px;
  }
  .girl__bg {
    left: 130px;
    bottom: 2%;
    width: 300px;
    height: 400px;
  }
}
@media (min-width: 1400px) {
  .logo {
    top: 20px;
    left: 10px;
    width: 200px;
    height: 200px;
    background-image: url("../img/logo.png");
  }
  .logo--scaled {
    transform: scale(0.6) translateX(150px) translateY(-110px);
    background-image: url("../img/logo_mid.png");
  }
  .logo--scaled:hover {
    background-image: url("../img/logo2_mini.png");
  }
  .nav {
    top: 60px;
    right: 0;
  }
  .nav__item {
    margin: 25px;
  }
  .nav--scaled {
    transform: scale(0.9) translateX(-120px) translateY(-50px);
  }
  .nav--scaled .nav__item {
    font-size: 25px;
  }
  .home__text {
    top: 72%;
    left: 58%;
  }
  .home__text h1 {
    font-size: 55px;
  }
  .home__text h2 {
    font-size: 25px;
  }
  .home__text_bg {
    left: 58%;
    top: 60%;
    width: 400px;
    height: 322px;
  }
  .player-box {
    justify-content: end;
    overflow: visible;
  }
  .player {
    margin-right: 100px;
  }
  .player-chill {
    margin-right: 100px;
  }
  .player-rock {
    margin-right: 100px;
  }
}
@media (min-width: 1470px) {
  .nav__item {
    margin: 25px;
    font-size: 28px;
  }
  .crew {
    height: 100vh;
  }
  .crew-container {
    height: 80vh;
    padding: 0;
    padding: 100px 0 100px 0;
  }
  .crew-box {
    width: 300px;
    height: 500px;
  }
}
@media (min-width: 1680px) {
  .home__text {
    top: 58%;
    left: 58%;
  }
  .home__text h1 {
    font-size: 75px;
  }
  .home__text h2 {
    font-size: 40px;
  }
  .home__text_bg {
    left: 58%;
    top: 45%;
    width: 520px;
    height: 422px;
  }
}
@media (min-width: 1870px) {
  .girl {
    display: none;
  }
  .girl__bg {
    display: none;
  }
  .girl2 {
    display: block;
  }
  .girl2__bg {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */