// ============================= M768

@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}

	.nav {
		top: 40px;
		height: 50px;
		width: 100%;
		transform: scale(0.9);

		&__item {
			margin: 7px;
			font-size: 18px;

			&:nth-child(2) {
				display: none;
			}
		}

		&--scaled {
			transform: scale(1) translateX(0) translateY(-24px);
		}
	}

	.nav-desktop {
		display: block;
	}

	.logo {
		left: 20%;
	}

	.logo-bg {
		width: 150px;
	}

	.girl {
		left: 4%;
		width: 300px;
		height: 300px;

		&__bg {
			left: 4%;
			bottom: 100px;
			width: 300px;
			height: 200px;
		}
	}

	.home {
		height: 80vh;
		&__bg {
			background-image: url('../img/dj-6472628_1920.jpg');
		}

		&__text {
			top: 60%;
			left: 50%;

			h1 {
				font-size: 30px;
			}

			h2 {
				font-size: 15px;
				color: black;
			}

			&_bg {
				display: block;
				left: 50%;
				top: 50%;
				width: 350px;
				height: 200px;
			}
		}

		.round-bg {
			position: absolute;
			right: 19%;
			top: 40%;
			width: 300px;
			height: 310px;
			background-image: url('../img/round-bg.png');
			background-size: cover;
			animation: wavezoom 2s infinite linear both;
		}
	}

	.player-box {
		min-height: 20vh;
		flex-direction: row;
		gap: 30px;
	}

	@mixin player {
		width: 200px;
		height: 60px;

		&__title {
			top: -22px;
			right: 10px;
			font-size: 19px;
		}

		&__stats {
			width: 150px;
		}

		&__button {
			font-size: 25px;
			&__bg {
				left: -10px;
				width: 50px;
				height: 50px;
			}
		}
	}

	@mixin miniPanels {
		width: 60px;
		height: 15px;
	}

	.player {
		@include player;

		.greetings_panel {
			@include miniPanels;
			left: 55px;
			bottom: -16px;
		}

		.schedule_panel {
			@include miniPanels;
			right: 14px;
			bottom: -16px;
		}
	}

	.player-chill {
		@include player;

		.greetings_panel {
			@include miniPanels;
			left: 55px;
			bottom: -16px;
		}

		.schedule_panel {
			@include miniPanels;
			right: 14px;
			bottom: -16px;
		}
	}

	.player-rock {
		@include player;

		.greetings_panel {
			@include miniPanels;
			left: 55px;
			bottom: -16px;
		}

		.schedule_panel {
			@include miniPanels;
			right: 14px;
			bottom: -16px;
		}
	}

	.fa-arrow-up-right-from-square {
		right: -10px;
		top: -14px;
	}
}
