// ============================= M768

@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}

	.nav {
		top: 40px;
		height: 50px;
		width: 100%;
		transform: scale(0.9);

		&__item {
			margin: 7px;
			font-size: 18px;

			&:nth-child(2) {
				display: none;
			}
		}

		&--scaled {
			transform: scale(1) translateX(0) translateY(-24px);
		}
	}

	.nav-desktop {
		display: block;
	}

	.logo {
		left: 20%;
	}

	.logo-bg {
		width: 150px;
	}

	.girl {
		left: 10%;
		width: 300px;
		height: 300px;

		&__bg {
			left: 10%;
			bottom: 100px;
			width: 300px;
			height: 200px;
		}
	}

	.round-bg {
		display: block;
		bottom: 3%;
		bottom: 500px;
		right: 25%;
		width: 240px;
		height: 230px;
	}

	.home {
		height: 80vh;
		&__bg {
			background-image: url('../img/dj-6472628_1920.jpg');
		}

		&__text {
			top: 70%;
			left: 50%;

			h1 {
				font-size: 30px;
			}

			h2 {
				font-size: 15px;
				color: black;
			}

			&_bg {
				display: block;
				left: 50%;
				top: 60%;
				width: 350px;
				height: 200px;
			}
		}
	}

	.player-box {
		height: 20vh;
		flex-direction: row;
		gap: 30px;
		padding: 0;
	}

	@mixin player {
		width: 200px;
		height: 60px;

		&__title {
			top: -22px;
			right: 10px;
			font-size: 17px;
		}

		&__stats {
			width: 150px;
		}

		&__button {
			&__bg {
				left: 1px;
				// width: 50px;
				// height: 50px;
			}
		}
	}

	@mixin miniPanels {
		width: 60px;
		height: 15px;
	}

	.player {
		@include player;

		.greetings_panel {
			@include miniPanels;
			left: 55px;
			bottom: -16px;
		}

		.schedule_panel {
			@include miniPanels;
			right: 14px;
			bottom: -16px;
		}
	}

	.player-chill {
		@include player;

		.greetings_panel {
			@include miniPanels;
			left: 55px;
			bottom: -16px;
		}

		.schedule_panel {
			@include miniPanels;
			right: 14px;
			bottom: -16px;
		}
	}

	.player-rock {
		@include player;

		.greetings_panel {
			@include miniPanels;
			left: 55px;
			bottom: -16px;
		}

		.schedule_panel {
			@include miniPanels;
			right: 14px;
			bottom: -16px;
		}
	}
}
