@use '../sass/components/colors' as *;
@use '../sass/components/animations' as *;
@use '../sass/pages/crew' as *;
@use './pages/showlist' as *;
@use './pages/contact' as *;
@use './pages/about-us' as *;
@use './pages/schedule' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: $c_bg;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

// --------   ..:: HEADER ::..   -------- \\

.header {
	position: fixed;
	display: flex;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 1000;
}

.smallNavBg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: #3a0049;
	opacity: 0;
	transition: all 0.6s;
}

.logo-bg {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 80px;
}

.logo {
	position: absolute;
	top: 9px;
	left: 5px;
	width: 70px;
	height: 70px;
	background-image: url('../img/logo.png');
	background-size: cover;
	animation: flicker 2s linear both;
	transition: transform 0.5s;
	cursor: pointer;
	z-index: 100;

	&:hover {
		background-image: url('../img/logo2.png');
	}

	&--scaled {
		transform: scale(0.9) translateY(-4px);
		background-image: url('../img/logo_mid.png');

		&:hover {
			background-image: url('../img/logo2_mini.png');
		}
	}
}

// --------   ..:: NAVIGATION ::..   -------- \\

.nav {
	position: relative;
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.5s;

	&__item {
		margin: 20px;
		font-size: 18px;
		color: white;
		text-transform: uppercase;
		text-decoration: none;

		&:nth-child(2) {
			display: block;
		}
	}

	&__item:hover {
		color: $c_blue;
	}

	&--scaled {
		transform: scale(0.8) translateX(-26%) translateY(-74px);
	}
}

.burger-icon {
	position: fixed;
	top: 12px;
	right: 30px;
	width: 45px;
	height: 45px;
	padding: 10px;
	font-size: 32px;
	color: $c_blue;
	border-radius: 7px;
	border: none;
	background: none;
}

.nav-desktop {
	display: none;
}

.nav-mobile {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-color: $c_purple;

	&__items {
		display: flex;
		flex-direction: column;

		a {
			font-size: 20px;
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
			color: #fff;
			letter-spacing: 2px;
			transition: color 0.3s;
		}

		a:hover {
			color: $c_blue;
		}
	}

	&--active {
		transform: translate(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s;
}

// --------   ..:: MAIN ::..   -------- \\

.home {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	&__bg {
		width: 100%;
		height: 100%;
		background-image: url('../img/dj-6472628_640.jpg');
		background-position: 0 90%;
		background-size: cover;

		&--overlay {
			width: 100%;
			height: 100%;
			background-color: #d2009747;
			opacity: 90%;
		}
	}

	&__smoke {
		position: absolute;
		top: 40px;
		width: 100%;
		height: 320px;
		pointer-events: none;
	}

	&__text {
		position: absolute;
		top: 25px;
		left: 25%;
		font-family: 'Merienda', cursive;

		h1 {
			color: #fff;
			font-size: 14px;
			text-shadow: 0 0 3px black;
		}

		h2 {
			color: $c_blue;
			font-size: 8px;
			text-shadow: 0 0 3px rgba(0, 0, 86, 0.715);
		}

		&_bg {
			display: none;
			position: absolute;
			left: 24%;
			top: -20px;
			width: 140px;
			height: 110px;
			background-image: url('../img/h1bg.png');
			background-size: cover;
		}
	}
}

.girl-box {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@mixin girl {
	position: absolute;
	background-image: url('../img/girl.png');
	background-size: cover;
	opacity: 90%;
	animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

	&__bg {
		position: absolute;
		background-image: url('../img/girl_bg.png');
		background-size: cover;
		animation: scale-in-center 1s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}
}

.girl {
	@include girl;
	bottom: 0;
	width: 300px;
	height: 300px;

	&__bg {
		bottom: 60px;
		width: 200px;
		height: 250px;
	}
}

.girl2 {
	@include girl;
	display: none;
	left: 4%;
	bottom: 0;
	width: 600px;
	height: 600px;

	&__bg {
		display: none;
		left: 6%;
		bottom: 60px;
		width: 500px;
		height: 550px;
	}
}

// --------   ..:: PLAYERS ::..   -------- \\

.player-box {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	padding-top: 120px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #210027;
	overflow: hidden;
}

@mixin player {
	position: relative;
	width: 300px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(144, 144, 144, 0.173);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.485);
	border-radius: 80px 30px 30px 80px;

	&__title {
		position: absolute;
		top: -30px;
		right: 10px;
		font-size: 25px;
		font-family: 'Merienda', cursive;
	}

	&__stats {
		position: absolute;
		width: 225px;
		height: 55px;
		right: 0;
	}

	&__button {
		position: absolute;
		font-size: 50px;
		color: #ffffff;
		cursor: pointer;

		&:hover {
			color: rgb(56, 56, 56);
		}

		&__bg {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			left: 1px;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.599);
		}
	}

	.fa-play {
		position: relative;
		left: 6px;
	}
}

@mixin miniPanels {
	position: absolute;
	width: 70px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $c_blue;
	border-radius: 0 0 3px 3px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: $c_grey;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

	&:hover {
		background-color: orange;
	}
}

.player {
	@include player;

	&__button__bg {
		background-color: $c_blue;
	}

	&__title {
		color: $c_blue;
	}

	.greetings_panel {
		@include miniPanels;
		left: 110px;
		bottom: -20px;
	}

	.schedule_panel {
		@include miniPanels;
		right: 40px;
		bottom: -20px;
	}
}

.player-chill {
	@include player;

	&__button__bg {
		background-color: $c_lime;
	}

	&__title {
		color: $c_lime;
	}

	.greetings_panel {
		@include miniPanels;
		background-color: $c_lime;
		left: 90px;
		bottom: -20px;
	}

	.schedule_panel {
		@include miniPanels;
		background-color: $c_lime;
		right: 40px;
		bottom: -20px;
	}
}

.player-rock {
	@include player;

	&__button__bg {
		background-color: $c_red;
	}

	&__title {
		color: $c_red;
	}

	.greetings_panel {
		@include miniPanels;
		background-color: $c_red;
		left: 90px;
		bottom: -20px;
	}

	.schedule_panel {
		@include miniPanels;
		background-color: $c_red;
		right: 40px;
		bottom: -20px;
	}
}

// --------   ..:: FOOTER ::..   -------- \\

.footer {
	width: 100%;
	height: 300px;
	padding-top: 80px;
	background-color: $c_bg;
}

@import './small';
@import './medium';
@import './large';
