@use '../sass/components/colors' as *;
@use '../sass/components/animations' as *;
@use './pages/schedule' as *;
@use '../sass/pages/crew' as *;
@use './pages/showlist' as *;
@use './pages/about-us' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #11001a;
	font-family: 'Montserrat', sans-serif;
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
@-moz-document url-prefix() {
	* {
		scrollbar-color: #00ccff #210027;
		scrollbar-width: thin;
	}
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 10px $c_purple;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 0 10px $c_blue;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 255, 255, 0.3);
}

/* ===== ========================= ===== */

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

// --------   ..:: HEADER ::..   -------- \\

.header {
	position: fixed;
	display: flex;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 1000;
}

.body-line {
	width: 100%;
	height: 5px;
	background-color: $c_blue;
}
.body-line2 {
	width: 100%;
	height: 2px;
	background-color: $c_pink;
}

.smallNavBg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: #3a0049;
	opacity: 0;
	transition: all 0.6s;
}

.logo-bg {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 80px;
}

.logo {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 70px;
	height: 70px;
	background-image: url('../img/logo.png');
	background-size: cover;
	animation: flicker 2s linear both;
	transition: transform 0.5s;
	cursor: pointer;
	z-index: 100;

	&--scaled {
		transform: scale(0.9) translateY(-12px);
	}

	&:hover {
		transform: rotate(-10deg);
	}
}

// --------   ..:: NAVIGATION ::..   -------- \\

.nav {
	position: relative;
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.5s;

	&__item.active {
		color: $c_blue;
	}

	&__item {
		margin: 20px;
		font-size: 18px;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.548);

		&:nth-child(2) {
			display: block;
		}

		&:hover {
			color: $c_blue;
			text-shadow: 2px 2px 4px black;
		}
	}

	&--scaled {
		transform: scale(0.8) translateX(-26%) translateY(-74px);
	}
}

.nav-container a {
	position: relative;
	color: #fff;
	text-decoration: none;
}

/* Circle behind */
div.circleBehind a:before,
div.circleBehind a:after {
	position: absolute;
	top: 10px;
	left: 50%;
	width: 80px;
	height: 30px;
	border: 4px solid #0278bd60;
	transform: translateX(-50%) translateY(-50%) scale(0.8);
	border-radius: 50%;
	background: transparent;
	content: '';
	opacity: 0;
	transition: all 0.3s;
	z-index: -1;
}

div.circleBehind a:after {
	border-width: 2px;
	transition: all 0.4s;
}

div.circleBehind a:hover:before {
	opacity: 1;
	transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind a:hover:after {
	opacity: 1;
	transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.burger-icon {
	position: fixed;
	top: 10px;
	right: 30px;
	width: 45px;
	height: 45px;
	padding: 10px;
	font-size: 32px;
	color: $c_blue;
	border-radius: 7px;
	border: none;
	background: none;
	cursor: pointer;
	z-index: 1000;

	&:hover {
		color: #fff;
	}
}

.nav-desktop {
	display: none;
}

.nav-mobile {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-color: $c_purple;

	&__items {
		display: flex;
		flex-direction: column;

		a {
			font-size: 20px;
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
			color: #fff;
			letter-spacing: 2px;
			transition: color 0.3s;
		}

		a:hover {
			color: $c_blue;
		}
	}

	&--active {
		transform: translate(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s;
}

// --------   ..:: MAIN ::..   -------- \\

.home {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	&__bg {
		width: 100%;
		height: 100%;
		background-image: url('../img/dj-6472628_640.jpg');
		background-position: 0 90%;
		background-size: cover;

		&--overlay {
			width: 100%;
			height: 100%;
			background-color: #d2009e48;
			opacity: 100%;
		}
	}

	&__smoke {
		position: absolute;
		top: 40px;
		width: 100%;
		height: 320px;
		pointer-events: none;
	}

	&__text {
		position: absolute;
		top: 25px;
		left: 32%;
		font-family: 'Merienda', cursive;

		h1 {
			color: #fff;
			font-size: 14px;
			text-shadow: 0 0 3px #88aeff;
		}

		h2 {
			position: absolute;
			left: 40px;
			color: $c_blue;
			font-size: 8px;
		}

		&_bg {
			display: none;
			position: absolute;
			left: 24%;
			top: -20px;
			width: 140px;
			height: 110px;
			background-image: url('../img/h1bg.png');
			background-size: cover;
		}
	}
}

.girl-box {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@mixin girl {
	position: absolute;
	background-image: url('../img/girl.png');
	background-size: cover;
	animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

	&__bg {
		position: absolute;
		background-image: url('../img/girl_bg.png');
		background-size: cover;
		animation: scale-in-center 1s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}
}

.girl {
	@include girl;
	bottom: 0;
	width: 300px;
	height: 300px;

	&__bg {
		bottom: 140px;
		width: 200px;
		height: 150px;
	}
}

.girl2 {
	@include girl;
	display: none;
	left: 4%;
	bottom: 0;
	width: 600px;
	height: 600px;

	&__bg {
		display: none;
		left: 6%;
		bottom: 60px;
		width: 500px;
		height: 550px;
	}
}

// --------   ..:: PLAYERS ::..   -------- \\

.player-box {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 78px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 60px;
	flex-wrap: wrap;
	background-color: #210027;
	overflow: hidden;
}

@mixin player {
	position: relative;
	width: 300px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__title {
		position: absolute;
		top: -30px;
		right: 10px;
		font-size: 25px;
		font-family: 'Merienda', cursive;
		color: #fff;
	}

	&__stats {
		position: absolute;
		width: 220px;
		height: 40px;
		right: 5px;
		overflow: hidden;
		background-color: #ae00ff15;
		border-radius: 0 4px 4px 0;
	}

	&__button {
		position: absolute;
		font-size: 35px;
		cursor: pointer;

		&__bg {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			left: 1px;
			width: 60px;
			height: 60px;
			border-radius: 20px 0 20px 0;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.599);
		}
	}

	.fa-play {
		position: relative;
		left: 3px;
		padding: 20px;
	}
}

@mixin miniPanels {
	position: absolute;
	width: 70px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	text-decoration: none;
	font-size: 12px;
	color: #ffffff62;
	border-radius: 10px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fa-arrow-up-right-from-square {
	display: none;
	font-size: 12px;
	position: absolute;
	right: 15px;
	bottom: 5px;
	color: #ffffff3b;
	cursor: pointer;

	&:hover {
		color: #fff;
	}
}

.player {
	@include player;

	.greetings_panel {
		@include miniPanels;
		left: 100px;
		bottom: -1px;

		&:hover {
			font-weight: bold;
			color: $c_blue;
		}
	}

	.schedule_panel {
		@include miniPanels;
		right: 40px;
		bottom: -1px;

		&:hover {
			font-weight: bold;
			color: $c_blue;
		}
	}

	&__color {
		color: $c_blue;
	}

	&__button {
		color: #fff;

		&:hover {
			color: #fff;
			color: $c_blue;
		}

		&__bg {
			border: 2px solid #82d7dd;

			&:hover {
				background-color: #00b7ff69;
			}
		}
	}
}

.player-chill {
	@include player;

	.greetings_panel {
		@include miniPanels;
		left: 100px;
		bottom: -1px;

		&:hover {
			font-weight: bold;
			color: $c_lime;
		}
	}

	.schedule_panel {
		@include miniPanels;
		right: 40px;
		bottom: -1px;

		&:hover {
			font-weight: bold;
			color: $c_lime;
		}
	}

	&__color {
		color: $c_lime;
	}

	&__button {
		color: #fff;

		&:hover {
			color: #1eff00;
		}

		&__bg {
			border: 2px solid #8ddd82;

			&:hover {
				background-color: #2bff004f;
			}
		}
	}
}

.player-rock {
	@include player;

	.greetings_panel {
		@include miniPanels;
		left: 100px;
		bottom: -1px;

		&:hover {
			font-weight: bold;
			color: $c_red;
		}
	}

	.schedule_panel {
		@include miniPanels;
		right: 40px;
		bottom: -1px;

		&:hover {
			font-weight: bold;
			color: $c_red;
		}
	}

	&__color {
		color: $c_red;
	}

	&__button {
		color: $c_red;

		&:hover {
			color: #f00;
		}

		&__bg {
			border: 2px solid #dd8282;

			&:hover {
				background-color: #ff00004f;
			}
		}
	}
}

// --------   ..:: FOOTER ::..   -------- \\

// FOOTER
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.footer {
	position: relative;
	width: 100%;
	background: #3586ff;
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 80px;
}

.social-icon,
.menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
	list-style: none;
}

.social-icon__link {
	font-size: 2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
}
.social-icon__link:hover {
	transform: translateY(-10px);
}

.menu__link {
	font-size: 1.2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	font-weight: 300;
}

.menu__link:hover {
	color: black;
}

.footer p {
	color: #fff;
	margin: 15px 0 10px 0;
	font-size: 1rem;
	font-weight: 300;
}

.wave {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url('https://i.ibb.co/wQZVxxk/wave.png');
	background-size: 1000px 100px;
}

.wave#wave1 {
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animate 4s linear infinite !important;
}

.wave#wave3 {
	z-index: 1000;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animate 3s linear infinite;
}

@import './small';
@import './medium';
@import './large';
