@use '../components/colors' as *;
@use '../components/animations' as *;
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

// --------   ..:: CREW ::..   -------- \\

.crew {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 80px);
	padding-top: 40px;
	overflow: hidden;

	&__title {
		font-size: 23px;
		margin-left: 80px;
		color: $c_blue;
		font-weight: bold;

		&--color {
			color: #fff;
		}
	}

	&__overlay {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(30, 7, 39, 0.877);
		z-index: -1;
	}
}

.crew-bar {
	display: flex;
	align-items: center;
	justify-content: start;
	flex-wrap: wrap;
	width: 100%;
	height: 60px;
	background-image: linear-gradient(147deg, #00a2ff98 0%, #dee4ea00 35%);
}

.crew-container {
	width: 100%;
	height: 100%;
	padding: 50px 0 50px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 90px;
	flex-wrap: wrap;
}

.crew-box {
	position: relative;
	width: 200px;
	height: 300px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.8s;

	&:hover {
		transform: rotate(-15deg);
	}

	ul {
		position: absolute;
		bottom: 10px;
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 15px;
	}

	ul a {
		color: #fff8;
		font-size: 1.25em;
		scale: 0;
		transition: 1.5s;
	}
}

// .crew-round {
// 	position: absolute;
// 	bottom: 0;
// 	width: 100%;
// 	height: 600px;
// 	background-image: url('#');
// 	background-size: cover;
// }

.djPrev {
	font-size: 18px;
	color: #fff;
	cursor: pointer;
}

.crew-box:hover .imgBx img {
	opacity: 0.5;
}

.crew-box:hover ul a {
	scale: 1;
}

.crew-box ul a:hover {
	color: #fff;
}

.clr1 {
	box-shadow: 0 0 10px $c_blue;

	&:hover {
		box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
	}
}

.clr-anim {
	animation: opacityAnimation 1s 0.5s linear infinite alternate;
}

.imgBx {
	position: absolute;
	inset: 0;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.8s;
	border-radius: 10px;
}

.glass {
	position: absolute;
	inset: 0;
	background: linear-gradient(#fff2, transparent);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	scale: 0;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.8s;
	transform: rotate(-30deg);

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 50px;
		background: rgba(255, 255, 255, 0.05);
	}
}

.crew-box:hover .glass {
	opacity: 1;
	scale: 1;
	transform: rotate(20deg);
}

.glass h3 {
	font-size: 1.25em;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 1;
	position: relative;
	top: -15px;
}

.glass span {
	font-weight: 400;
	font-size: 0.5em;
}

// ===================================BG

.crew-bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #0e011a;
	overflow: hidden;
	z-index: -10;
}

.crew-bg span {
	width: 16vmin;
	height: 16vmin;
	border-radius: 16vmin;
	backface-visibility: hidden;
	position: absolute;
	animation: move;
	animation-duration: 45;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.crew-bg span:nth-child(0) {
	color: #ffacac;
	top: 61%;
	left: 36%;
	animation-duration: 26s;
	animation-delay: -19s;
	transform-origin: 18vw 0vh;
	box-shadow: 32vmin 0 4.879595550372077vmin currentColor;
}
.crew-bg span:nth-child(1) {
	color: #ffacac;
	top: 50%;
	left: 96%;
	animation-duration: 21s;
	animation-delay: -6s;
	transform-origin: 22vw -3vh;
	box-shadow: 32vmin 0 4.855892700516522vmin currentColor;
}
.crew-bg span:nth-child(2) {
	color: #e45a84;
	top: 19%;
	left: 4%;
	animation-duration: 27s;
	animation-delay: -11s;
	transform-origin: 24vw -12vh;
	box-shadow: 32vmin 0 4.568533460551351vmin currentColor;
}
.crew-bg span:nth-child(3) {
	color: #ffacac;
	top: 2%;
	left: 99%;
	animation-duration: 14s;
	animation-delay: -29s;
	transform-origin: -11vw -14vh;
	box-shadow: 32vmin 0 4.156825226663347vmin currentColor;
}
.crew-bg span:nth-child(4) {
	color: #e45a84;
	top: 64%;
	left: 87%;
	animation-duration: 52s;
	animation-delay: -5s;
	transform-origin: -7vw 14vh;
	box-shadow: 32vmin 0 4.916747983678561vmin currentColor;
}
.crew-bg span:nth-child(5) {
	color: #ffacac;
	top: 27%;
	left: 5%;
	animation-duration: 29s;
	animation-delay: -23s;
	transform-origin: 16vw -11vh;
	box-shadow: 32vmin 0 4.96593314395401vmin currentColor;
}
.crew-bg span:nth-child(6) {
	color: #583c87;
	top: 88%;
	left: 83%;
	animation-duration: 50s;
	animation-delay: -45s;
	transform-origin: 3vw -9vh;
	box-shadow: 32vmin 0 4.509159238242601vmin currentColor;
}
.crew-bg span:nth-child(7) {
	color: #583c87;
	top: 22%;
	left: 41%;
	animation-duration: 13s;
	animation-delay: -29s;
	transform-origin: -7vw 11vh;
	box-shadow: 32vmin 0 4.281697708216138vmin currentColor;
}
.crew-bg span:nth-child(8) {
	color: #583c87;
	top: 32%;
	left: 6%;
	animation-duration: 53s;
	animation-delay: -11s;
	transform-origin: 8vw 14vh;
	box-shadow: -32vmin 0 4.935504382021559vmin currentColor;
}
.crew-bg span:nth-child(9) {
	color: #583c87;
	top: 26%;
	left: 70%;
	animation-duration: 49s;
	animation-delay: -19s;
	transform-origin: -24vw -16vh;
	box-shadow: -32vmin 0 4.695622992204518vmin currentColor;
}
.crew-bg span:nth-child(10) {
	color: #ffacac;
	top: 25%;
	left: 40%;
	animation-duration: 46s;
	animation-delay: -26s;
	transform-origin: -16vw -15vh;
	box-shadow: -32vmin 0 4.842879391960695vmin currentColor;
}
.crew-bg span:nth-child(11) {
	color: #583c87;
	top: 22%;
	left: 29%;
	animation-duration: 44s;
	animation-delay: -42s;
	transform-origin: -23vw 24vh;
	box-shadow: -32vmin 0 4.145143369246152vmin currentColor;
}
.crew-bg span:nth-child(12) {
	color: #e45a84;
	top: 77%;
	left: 35%;
	animation-duration: 44s;
	animation-delay: -50s;
	transform-origin: 23vw -7vh;
	box-shadow: -32vmin 0 4.320363163864089vmin currentColor;
}
.crew-bg span:nth-child(13) {
	color: #583c87;
	top: 68%;
	left: 69%;
	animation-duration: 31s;
	animation-delay: -2s;
	transform-origin: 23vw -15vh;
	box-shadow: -32vmin 0 4.780000342165327vmin currentColor;
}
.crew-bg span:nth-child(14) {
	color: #583c87;
	top: 80%;
	left: 93%;
	animation-duration: 50s;
	animation-delay: -40s;
	transform-origin: -12vw 22vh;
	box-shadow: -32vmin 0 4.120347344171101vmin currentColor;
}
.crew-bg span:nth-child(15) {
	color: #ffacac;
	top: 4%;
	left: 43%;
	animation-duration: 32s;
	animation-delay: -1s;
	transform-origin: 10vw 21vh;
	box-shadow: -32vmin 0 4.187048125108126vmin currentColor;
}
.crew-bg span:nth-child(16) {
	color: #ffacac;
	top: 25%;
	left: 6%;
	animation-duration: 16s;
	animation-delay: -33s;
	transform-origin: 13vw -22vh;
	box-shadow: -32vmin 0 4.06820069246955vmin currentColor;
}
.crew-bg span:nth-child(17) {
	color: #ffacac;
	top: 21%;
	left: 2%;
	animation-duration: 47s;
	animation-delay: -40s;
	transform-origin: -2vw -9vh;
	box-shadow: -32vmin 0 4.236734046722946vmin currentColor;
}
.crew-bg span:nth-child(18) {
	color: #e45a84;
	top: 70%;
	left: 19%;
	animation-duration: 20s;
	animation-delay: -29s;
	transform-origin: 19vw 20vh;
	box-shadow: -32vmin 0 4.204512243813816vmin currentColor;
}
.crew-bg span:nth-child(19) {
	color: #ffacac;
	top: 24%;
	left: 80%;
	animation-duration: 17s;
	animation-delay: -2s;
	transform-origin: 7vw -8vh;
	box-shadow: 32vmin 0 4.6005639351866705vmin currentColor;
}
.crew-bg span:nth-child(20) {
	color: #e45a84;
	top: 3%;
	left: 85%;
	animation-duration: 29s;
	animation-delay: -5s;
	transform-origin: 10vw 19vh;
	box-shadow: -32vmin 0 4.1716282697425235vmin currentColor;
}
