// ============================= M900
@media (min-width: 900px) {
	.logo-bg {
		width: 10%;
	}

	.nav {
		&__item {
			margin: 5px;
			font-size: 20px;
		}
	}
}

// ============================= M992

@media (min-width: 992px) {
	.home {
		height: 80vh;

		&__bg {
			background-image: url('../img/dj-6472628_1920.jpg');
		}

		&__text {
			top: 75%;
			left: 48%;

			h1 {
				font-size: 50px;
			}

			h2 {
				font-size: 25px;
			}

			&_bg {
				left: 49%;
				top: 65%;
				width: 370px;
				height: 300px;
			}
		}
	}

	.logo-bg {
		width: 20%;
	}

	.logo {
		top: 0;
		left: 30px;
		width: 200px;
		height: 200px;
		background-size: cover;

		&--scaled {
			transform: scale(0.7) translateX(-10px) translateY(-50px);
			background-image: url('../img/logo_mid.png');

			&:hover {
				background-image: url('../img/logo2_mini.png');
			}
		}
	}

	.nav {
		top: 60px;
		width: 100%;
		// transform: scale(1);

		&__item {
			margin: 10px;
			font-size: 22px;
		}

		&--scaled {
			transform: scale(0.9) translateX(-10px) translateY(-50px);
		}
	}

	.girl {
		left: 10px;
		bottom: 0;
		width: 300px;
		height: 300px;

		&__bg {
			left: 6%;
			bottom: 7%;
			width: 200px;
			height: 250px;
		}
	}
}

@media (min-width: 1102px) {
	.player-box {
		height: 20vh;
	}
}

// ============================= M1200

@media (min-width: 1200px) {
	.logo-bg {
		width: 30%;
	}

	.logo {
		top: 0;
		left: 30px;
		width: 200px;
		height: 200px;
		background-size: cover;

		&--scaled {
			transform: scale(0.7) translateX(-10px) translateY(-50px);
			background-image: url('../img/logo_mid.png');

			&:hover {
				background-image: url('../img/logo2_mini.png');
			}
		}
	}

	.nav {
		top: 60px;
		width: 100%;
		transform: scale(1);

		&__item {
			margin: 20px;
			font-size: 22px;
		}

		&--scaled {
			transform: scale(0.9) translateX(-10px) translateY(-50px);
		}
	}

	.girl {
		left: 80px;
		bottom: 0;
		width: 400px;
		height: 400px;

		&__bg {
			left: 130px;
			bottom: 2%;
			width: 300px;
			height: 400px;
		}
	}
}

// ============================= M1400

@media (min-width: 1400px) {
	.logo {
		top: 20px;
		left: 10px;
		width: 200px;
		height: 200px;
		background-image: url('../img/logo.png');

		&--scaled {
			transform: scale(0.6) translateX(150px) translateY(-110px);
			background-image: url('../img/logo_mid.png');

			&:hover {
				background-image: url('../img/logo2_mini.png');
			}
		}
	}

	.nav {
		top: 60px;
		right: 0;
		&__item {
			margin: 25px;
		}

		&--scaled {
			transform: scale(0.9) translateX(-120px) translateY(-50px);

			.nav__item {
				font-size: 25px;
			}
		}
	}

	.home {
		&__text {
			top: 72%;
			left: 58%;

			h1 {
				font-size: 55px;
			}

			h2 {
				font-size: 25px;
			}

			&_bg {
				left: 58%;
				top: 60%;
				width: 400px;
				height: 322px;
			}
		}
	}

	.player-box {
		justify-content: end;
		overflow: visible;
	}

	@mixin player {
		margin-right: 100px;
	}

	.player {
		@include player;
	}

	.player-chill {
		@include player;
	}

	.player-rock {
		@include player;
	}
}

// ============================= M1470

@media (min-width: 1470px) {
	.nav {
		&__item {
			margin: 25px;
			font-size: 28px;
		}
	}
}

// ============================= M1650

@media (min-width: 1680px) {
	.home {
		&__text {
			top: 58%;
			left: 58%;

			h1 {
				font-size: 75px;
			}

			h2 {
				font-size: 40px;
			}

			&_bg {
				left: 58%;
				top: 45%;
				width: 520px;
				height: 422px;
			}
		}
	}
}

@media (min-width: 1870px) {
	.girl {
		display: none;

		&__bg {
			display: none;
		}
	}

	.girl2 {
		display: block;

		&__bg {
			display: block;
		}
	}
}
