// ============================= M700
@media (min-width: 700px) {
	.home {
		&__text {
			top: 70%;
			left: 45%;

			h1 {
				font-size: 38px;
			}

			h2 {
				font-size: 20px;
			}

			&_bg {
				left: 45%;
				top: 52%;
				width: 280px;
				height: 230px;
			}
		}
	}

	.girl {
		left: 10px;
		bottom: 0;
		width: 300px;
		height: 300px;

		&__bg {
			left: 50px;
			bottom: 3%;
			width: 200px;
			height: 300px;
		}
	}
}

// ============================= M768

@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}

	.logo-bg {
		width: 20%;
	}

	.logo {
		&--scaled {
			transform: scale(0.5) translateX(0px) translateY(-60px);
			background-image: url('../img/logo_small.png');

			&:hover {
				background-image: url('../img/logo2_mini.png');
			}
		}
	}

	.nav-desktop {
		display: block;
	}

	.nav {
		top: 40px;
		height: 50px;
		width: 100%;
		transform: scale(0.9);

		&__item {
			margin: 6px;
			font-size: 18px;

			&:nth-child(2) {
				display: none;
			}
		}

		&--scaled {
			transform: scale(1) translateX(0) translateY(-24px);
		}
	}
}

// ========================= MEDIA landscape || 768
