@use '../components/colors' as *;
@use '../components/animations' as *;
// --------   ..:: SCHEDULE ::..   -------- \\

.schedule {
	position: relative;
	width: 100%;
	height: calc(100vh - 80px);
	padding-top: 40px;
	background-color: #fff;

	&__title {
		font-size: 23px;
		margin-left: 80px;
		color: $c_blue;
		font-weight: bold;

		&--color {
			color: #fff;
		}
	}
}

.schedule-bar {
	display: flex;
	align-items: center;
	justify-content: start;
	flex-wrap: wrap;
	width: 100%;
	height: 80px;
	background-color: $c_purple;
	border-top: 4px solid $c_blue;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.452);
}

// GŁÓWNA PODKATEGORIA RAMÓWKI
.schedule-boxes {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: calc(100% - 80px);
}

//box odpowiedzialny za tło ramówki
.schedule-box {
	position: relative;
	width: 50%;
	height: 100%;

	&__bar {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;
		width: 100%;
		min-height: 60px;
		padding: 20px;
	}

	button {
		width: 160px;
		height: 40px;
		border-radius: 5px;
		border: none;
		cursor: pointer;
		font-size: 17px;
	}

	.b-trance {
		border: 2px solid #242424;

		&:hover {
			background-color: $c_blue;
		}
	}

	.b-chill {
		border: 2px solid #242424;

		&:hover {
			background-color: $c_lime;
		}
	}

	.b-rock {
		border: 2px solid #242424;

		&:hover {
			background-color: $c_red;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: calc(100% - 80px);
		padding: 0 20px 20px 20px;

		//box odpowiedzialny za RAMÓWKĘ
		.contentSchedule {
			width: 100%;
			height: 100%;
			background-color: #fff;
		}
	}

	.schedule-board {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		color: #fff;
		background-color: #242424;
		box-shadow: 0 0 5px black;
		border-radius: 7px;
		font-size: 30px;
	}
}

.posters-box {
	position: relative;
	width: 50%;
	height: 100%;
}

.posters {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	gap: 20px;
}

.rotate-animation {
	animation: rotate 1s ease-in-out;
}

.poster-tilt {
	position: relative;
	perspective: 500px;
	cursor: pointer;
}

.poster-bg {
	position: relative;
}

.poster-center {
	display: grid;
	place-items: center;
}

.bg:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scale: 1.05;
	transition: all 0.3s cubic-bezier(0.86, 0.2, 0.03, 0.97);
	background: conic-gradient(
		from var(--deg) at 50% 50%,
		var(--color),
		#ffffff00 20%,
		#ffffff00 80%,
		#ffffff00,
		var(--color)
	);
	filter: blur(20px) saturate(1);
	z-index: -1;
	translate: 0 0 -1px;
}
.poster-card {
	transform-style: preserve-3d;

	background: var(--color);
	background-image: var(--url);
	background-blend-mode: luminosity;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	text-shadow: 0 0 10px var(--color);
	width: 200px;
	height: 300px;
	border-radius: 10px;
	font-size: 3rem;
	line-height: 0;

	transition: all 0.2s linear;
	& img {
		translate: 0 0 80px;
		width: 100px;
		height: 100px;
		pointer-events: none;
	}
}
