@use '../components/colors' as *;
@use '../components/animations' as *;
// --------   ..:: SCHEDULE ::..   -------- \\

.schedule {
	position: relative;
	width: 100%;
	background-color: #fff;
	overflow: hidden;

	&__title {
		width: 100%;
		height: 17vh; // 20 + poster-box + schedule-buttons = 100vh
		display: flex;
		justify-content: end;
		align-items: end;
		text-align: center;

		p {
			width: 100%;
			font-family: 'Merienda', cursive;
			font-size: 20px;
			padding: 10px;
			color: $c_purple;
			color: #fff;
			background-color: #00000029;
			z-index: 20;
		}
	}
}

// =========== SLIPER [mobile only]

html,
body {
	background: #f7f5e6;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.slider {
	margin: 0 auto;
	max-width: 940px;
}

.slide_viewer {
	height: 340px;
	overflow: hidden;
	position: relative;
}

.slide_group {
	height: 100%;
	position: relative;
	width: 100%;
}

.slide {
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
}

.slide:first-child {
	display: block;
}

.slide:nth-of-type(1) {
	background: #d7a151;
	background-image: url('/img/plakaty/9350699.png');
}

.slide:nth-of-type(2) {
	background: #f4e4cd;
	background-image: url('/img/plakaty/burn_paradise.png');
}

.slide:nth-of-type(3) {
	background: #c75534;
	background-image: url('/img/plakaty/global_chill.png');
}

.slide:nth-of-type(4) {
	background: #d1d1d4;
	background-image: url('/img/plakaty/night_party.png');
}

.slide_buttons {
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

a.slide_btn {
	color: #474544;
	font-size: 42px;
	margin: 0 0.175em;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
	color: #428cc6;
	cursor: pointer;
}

.directional_nav {
	height: 340px;
	margin: 0 auto;
	max-width: 940px;
	position: relative;
	top: -340px;
}

.previous_btn {
	bottom: 0;
	left: 100px;
	margin: auto;
	position: absolute;
	top: 0;
}

.next_btn {
	bottom: 0;
	margin: auto;
	position: absolute;
	right: 100px;
	top: 0;
}

.previous_btn,
.next_btn {
	cursor: pointer;
	height: 65px;
	opacity: 0.5;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
	opacity: 1;
}

@media only screen and (max-width: 767px) {
	.previous_btn {
		left: 50px;
	}
	.next_btn {
		right: 50px;
	}
}

// =========== POSTERS

.schedule-buttons {
	top: 0; //bottom
	width: 100%;
	background-color: $c_purple;

	&__bg {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
		gap: 30px;
		flex-wrap: wrap;
	}

	&__title {
		font-size: 7px;
		text-transform: uppercase;
		color: #fff;
	}

	button {
		width: 90px;
		height: 60px;
		font-size: 15px;
		padding: 5px;
		font-family: 'Merienda', cursive;
		// border: 3px solid rgba(0, 0, 0, 0.552);
		border: none;
		border-radius: 4px;
		cursor: pointer;

		// &:hover {
		// 	background-color: $c_yellow;    //TYLKO NA DESKTOP
		// }
	}

	.b-trance {
		background-color: $c_blue;
	}

	.b-chill {
		background-color: $c_lime;
	}

	.b-rock {
		background-color: $c_red;
	}
}

.posters {
	inset: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	padding: 20px;
}
.poster-tilt {
	position: relative;
	perspective: 500px;
}

.poster-bg {
	position: relative;
}

.poster-center {
	display: grid;
	place-items: center;
}

.bg:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scale: 1.05;
	transition: all 0.3s cubic-bezier(0.86, 0.2, 0.03, 0.97);
	background: conic-gradient(
		from var(--deg) at 50% 50%,
		var(--color),
		#ffffff00 20%,
		#ffffff00 80%,
		#ffffff00,
		var(--color)
	);
	filter: blur(20px) saturate(1);
	z-index: -1;
	translate: 0 0 -1px;
}
.poster-card {
	transform-style: preserve-3d;

	background: var(--color);
	background-image: var(--url);
	background-blend-mode: luminosity;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	text-shadow: 0 0 10px var(--color);
	width: 350px;
	height: 500px;
	border-radius: 10px;
	font-size: 3rem;
	line-height: 0;

	transition: all 0.2s linear;
	& img {
		translate: 0 0 80px;
		width: 100px;
		height: 100px;
		pointer-events: none;
	}
}
